<%- include("partials/header.ejs") %>
<div class="flex items-center justify-center h-screen w-full">
  <div class="flex items-center justify-center w-full flex-col">
    <div
      id="success-message"
      class="flex items-center justify-center hidden w-full text-green-500 text-center">
      Password reset email sent successfully!
    </div>
    <form class="mt-5" id="password-reset-form">
      <h1
        class="text-2xl font-bold text-[#6148FF] mb-5 text-center font-montserrat">
        Forgot Password
      </h1>
      <div class="mb-5">
        <label for="email" class="block text-sm font-medium text-gray-700">
          Email
        </label>
        <input
          type="text"
          id="email"
          class="text-sm mt-1 w-full p-2 ps-4 border lg:w-[500px] rounded-2xl"
          name="email"
          placeholder="Masukan email"
          required />
      </div>
      <button
        id="submit-button"
        class="bg-[#6148FF] text-white w-full font-normal text-sm h-[50px] mt-5 rounded-2xl relative"
        type="submit">
        <span id="button-text" class="font-semibold text-lg">Send</span>
        <i id="loading-icon" class="fa fa-spinner fa-spin text-2xl hidden"></i>
      </button>
    </form>
  </div>
</div>
<%- include("partials/footer.ejs") %>
<script>
  document.addEventListener("DOMContentLoaded", function () {
    const form = document.getElementById("password-reset-form");
    const successMessage = document.getElementById("success-message");
    const submitButton = document.getElementById("submit-button");
    const buttonText = document.getElementById("button-text");
    const loadingIcon = document.getElementById("loading-icon");
    form.addEventListener("submit", async function (event) {
      event.preventDefault();
      submitButton.disabled = true;
      buttonText.style.display = "none";
      loadingIcon.style.display = "inline-block";
      try {
        const response = await fetch("/api/v1/auth/forgot-password", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify({
            email: form.email.value,
          }),
        });
        if (!response.ok) {
          const data = await response.json();
          throw new Error(data.message);
        }
        form.style.display = "none";
        successMessage.innerText = "Password reset email sent successfully!";
        successMessage.style.color = "green";
        successMessage.style.display = "block";
        successMessage.classList.add("text-2xl", "font-bold");
      } catch (error) {
        successMessage.innerText = error.message;
        successMessage.style.color = "red";
        successMessage.style.display = "block";
        submitButton.disabled = false;
        buttonText.style.display = "inline-block";
        loadingIcon.style.display = "none";
      }
    });
  });
</script>
