<%- include("partials/header.ejs") %>
<div class="flex items-center justify-center h-screen">
  <div class="flex items-center justify-center w-full flex-col">
    <div
      id="success-message"
      class="flex items-center justify-center hidden w-full text-green-500 text-center">
      Password reset email sent successfully!
    </div>
    <form action="" id="password-reset-form">
      <h1
        class="text-2xl font-bold text-[#6148FF] mb-5 text-center font-montserrat">
        Reset Password
      </h1>
      <div class="mb-5">
        <label for="password" class="block text-sm font-medium text-gray-700">
          Password
        </label>
        <div class="relative">
          <input
            type="password"
            id="password"
            class="text-sm mt-1 w-full p-2 ps-4 border lg:w-[500px] rounded-2xl"
            placeholder="Enter Password" />
          <span
            id="togglePassword"
            class="absolute top-1/2 right-4 transform -translate-y-1/2 cursor-pointer"
            onclick="togglePasswordVisibility()">
            <i id="eyeIcon" class="fa fa-eye"></i>
          </span>
        </div>
      </div>
      <div class="mb-5">
        <label
          for="confirmPassword"
          class="block text-sm font-medium text-gray-700">
          Confirm Password
        </label>
        <div class="relative">
          <input
            type="password"
            id="confirmPassword"
            class="text-sm mt-1 w-full p-2 ps-4 border lg:w-[500px] rounded-2xl"
            placeholder="Confirm Password" />
          <span
            id="toggleConfirmPassword"
            class="absolute top-1/2 right-4 transform -translate-y-1/2 cursor-pointer"
            onclick="toggleConfirmPasswordVisibility()">
            <i id="eyeIconConfirm" class="fa fa-eye"></i>
          </span>
        </div>
      </div>
      <button
        id="submit-button"
        type="submit"
        class="bg-[#6148FF] text-white w-full font-normal text-sm h-[50px] mt-5 rounded-2xl">
        <span id="button-text" class="font-semibold text-lg"
          >Reset Password</span
        >
        <i id="loading-icon" class="fa fa-spinner fa-spin text-2xl hidden"></i>
      </button>
    </form>
  </div>
</div>

<script>
  function getQueryParam(key) {
    const params = new URLSearchParams(window.location.search);
    return params.get(key);
  }
  const token = getQueryParam("token");
  if (!token) {
    window.location.href = "/404";
  }
  document.addEventListener("DOMContentLoaded", function () {
    const form = document.getElementById("password-reset-form");
    const successMessage = document.getElementById("success-message");
    const submitButton = document.getElementById("submit-button");
    const buttonText = document.getElementById("button-text");
    const loadingIcon = document.getElementById("loading-icon");
    form.addEventListener("submit", async function (event) {
      event.preventDefault();
      submitButton.disabled = true;
      buttonText.style.display = "none";
      loadingIcon.style.display = "inline-block";
      try {
        const response = await fetch(`/api/v1/auth/reset-password/${token}`, {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify({
            password: form.password.value,
            confirmPassword: form.confirmPassword.value,
          }),
        });
        if (!response.ok) {
          const data = await response.json();
          throw new Error(data.message);
        }
        form.style.display = "none";
        successMessage.innerText = "Password reset successfully!";
        successMessage.style.color = "green";
        successMessage.style.display = "block";
        successMessage.classList.add("text-2xl", "font-bold");
      } catch (error) {
        successMessage.innerText = error.message;
        successMessage.style.color = "red";
        successMessage.style.display = "block";
        submitButton.disabled = false;
        buttonText.style.display = "inline-block";
        loadingIcon.style.display = "none";
      }
    });
  });
  function togglePasswordVisibility() {
    const passwordInput = document.getElementById("password");
    const eyeIcon = document.getElementById("eyeIcon");
    const type = passwordInput.type === "password" ? "text" : "password";
    passwordInput.type = type;
    eyeIcon.className = type === "password" ? "fa fa-eye" : "fa fa-eye-slash";
  }
  function toggleConfirmPasswordVisibility() {
    const confirmPasswordInput = document.getElementById("confirmPassword");
    const eyeIconConfirm = document.getElementById("eyeIconConfirm");
    const type = confirmPasswordInput.type === "password" ? "text" : "password";
    confirmPasswordInput.type = type;
    eyeIconConfirm.className =
      type === "password" ? "fa fa-eye" : "fa fa-eye-slash";
  }
</script>
<%- include("partials/footer.ejs") %>
